.nav_container{
	background-color: #3F4E4F;
	display: inline-flex;
	flex-direction: column;
	height: 100vh;
	position: fixed;
	left: 0px;
	top: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	
}

div > img {
	width: 30px;
	height: 30px;
	border-radius: 25%;
	
}
a > img {
	width: 30px;
	height: 30px;
	border-radius: 25%;
	
}

.nav_container > div {
	padding: 20px;
	margin: 1px, 0px;	
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    margin-left: 90px; /* Adjust margin-left to match the width of the nav bar */
    padding: 20px;
}


.grid {
	height: 290px;
	width: auto;
	border-radius: 5px;
	background-color: gray;
	border: 2px solid whitesmoke;
}

.popup-text {
	display: none;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	
	width: 80px;
	
  }
  
  .image-container  {
	position: relative;
	border-radius: 5%;
  }
  
  .image-container:hover .popup-text {
	display: inline;
	
  }

  
  hr {
	margin-top: 20px;
  }
  

  .header-section {
	margin: 10px;
	padding: 10px;
	background-color: #EF6262;
  }

.footer {
	text-align: center;
	font-weight: 600;
	margin: 5px;
}