<!DOCTYPE html>
<html lang="en>
	<head>
		<meta charset="UTF-8">
		<title>New Session | AcademiX </title>
		<link rel="stylesheet" href="../static/styles/login.css">
		<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}"> -->
	</head>
	<body>
		<div class="container">
			<div class="login_container">
					<div class="logo">
						<img src="../static/images/logo2-01.png">
					</div>
					<div class="login_form">
						<form method="POST" action="">
							<input type="email" placeholder="Email" name="email">
							<input type="password" placeholder="Password" name="password">
							<button type="submit">Login</button>
							<div class="notification">
								{% if msg%}
									<h3 style="color: red; font-weight:600">{{ msg }}</h3>
								{%endif%}
							</div>
							<p><a href="#">Forgot Password?</a></p>
						</form>
					</div>
			</div>
		</div>
		<div class="foot">
			<p>Copyrights AcademiX &copy 2024 <br> Powered by <br>Cyanide Engine</p>
		</div>
	</body>
</html>